<ion-header-bar class="bar-stable">
  <button ng-click="back()" class="button button-icon icon ion-ios-keypad-outline"></button>
  <h1 class="title">{{topic.topic}}</h1>
  <button ng-click="openModal()" class="button button-icon icon ion-ios-plus-empty"></button>
</ion-header-bar>

<ion-content>
  <div class="list">

    <a ng-repeat="community in communities" class="item item-thumbnail-left item-text-wrap" ui-sref='contents({communityID: {{community.id}} })'>
      
      <img ng-if="community.lead_image_url" ng-src="{{community.lead_image_url}}">
      <img ng-if="!community.lead_image_url" ng-src="http://placehold.it/350x150">

      <h2>{{community.community}}</h2>
      <small>{{community.community_description}}</small>

    </a>

  </div>
  
</ion-content>