<ion-header-bar class="bar-stable">
  <button ng-click="back()" class="button button-icon icon ion-ios-keypad-outline"></button>
  <h1 class="title">{{topic}}</h1>
  <button ng-click="openModal()" class="button button-icon icon ion-ios-plus-empty"></button>
</ion-header-bar>

<ion-content>
  <div class="list">

    <a ng-repeat="community in communities" class="item item-thumbnail-left" ui-sref='contents({communityID: {{community.id}} })'>
      <img src="http://placehold.it/150x150">
      <h2>{{community.community}}</h2>

    </a>

  </div>
  
</ion-content>