<ion-header-bar class="bar-stable" style="background-color: rgb(242, 54, 78);">
  <button style="color:white;" ng-click="back()" class="button button-icon icon ion-ios-keypad-outline"></button>
  <h1 style="color:white;" class="title">{{topic.topic}}</h1>
  <button style="color:white;" ng-click="openModal()" class="button button-icon icon ion-ios-plus-empty"></button>
</ion-header-bar>

<ion-content style="background-color: rgb(75, 75, 85);">

  <ion-spinner 
    ng-if="!communitiesLoaded" class="spinner-energized"icon="crescent"
    style="
      position: absolute;
      top: 150px;
      margin-left: 37%;
    "></ion-spinner>

  <ion-list ng-if="communitiesLoaded">

    <ion-item ng-repeat="community in communities" class="item item-thumbnail-left item-text-wrap" ui-sref='contents({communityID: {{community.id}} })' can-swipe="listCanSwipe">
      
      <img ng-if="community.lead_image_url" ng-src="{{community.lead_image_url}}">
      <img ng-if="!community.lead_image_url" ng-src="http://placehold.it/350x150">

      <h2>{{community.community}}</h2>
      <small>{{community.community_description}}</small>

      <ion-option-button class="button-energized"
                         ng-click="toggleCommunity(community.id)"
                         style="background-color: #F99C61;">
        <i 
          class="icon" 
          ng-class="{'ion-ios-checkmark-outline': isInCommunity(community.id), 'ion-ios-circle-outline': !isInCommunity(community.id)}"></i>
      </ion-option-button>

    </ion-item>

  </ion-list>
  
</ion-content>