<ion-content>

  <div class="topic-grid-container">
    <div class="row">
      <div class="col">
        <div class="card topic-card button" style="text-align:center;" ui-sref='communities({topicID: 1})'>
          <i class="ion-ios-game-controller-b-outline"></i>
          
          <span style="width: 100%; height: 57px; display: block;"></span>
          <span>Sports</span>  
        
        </div>

      </div>
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 2})'>
          <i class="ion-ios-americanfootball-outline"></i>
        </div>
      </div>
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 3})'>
          <i class="ion-ios-americanfootball-outline"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 4})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 5})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 6})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 7})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 8})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 9})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 1})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 1})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 1})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 1})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 1})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
      <div class="col">
        <div class="card topic-card button" ui-sref='communities({topicID: 1})'>
          <i class="ion-ios-game-controller-b-outline"></i>
        </div>
      </div>
    </div>

  </div>

</ion-content>