<ion-content 
  style="background-color: rgb(75, 75, 85);"
  scroll="false">

  <div class="topic-grid-container">
    <div class="row">
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  background-image: url(img/artIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 3})'>
        </div>

      </div>
      <div class="col" style="border-color:none;">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/businessIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 4})'>
          
        </div>
      </div>
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/gamingIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 5})'>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/healthIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 6})'>
        </div>
      </div>
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/uspoliticsIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 7})'>
        </div>
      </div>
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/moviesIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 8})'>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/musicIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 9})'>
        </div>
      </div>
      <div class="col">
        <div 

          class="card topic-card button animated bounceIn" 

          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/meIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid white;
                  box-shadow: 1px 1px 3px #000000;
                  "

          ui-sref='communities({topicID: 10})'>
        </div>
      </div>
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/sportsIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 11})'>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/technologyIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 12})'>
        </div>
      </div>
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/travelIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 13})'>
        </div>
      </div>
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/cookingIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 14})'>
          
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn"
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/scienceIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;" 
          ui-sref='communities({topicID: 15})'>
          
        </div>
      </div>
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/startupsIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
            ui-sref='communities({topicID: 16})'>
          
        </div>
      </div>
      <div class="col">
        <div 
          class="card topic-card button animated bounceIn" 
          style="text-align:center;
                  width: 100%;
                  height: 50px;
                  background-image: url(img/worldpoliticsIcon.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: cover;

                  border: 1px solid #4B4B55;"
          ui-sref='communities({topicID: 17})'>
          
        </div>
      </div>
    </div>

  </div>

</ion-content>